:root{
    /* custom propiedades */
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    /* se puede crear cualquier tipo de varible para definir el css */
}

html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family:  'Krub', Arial, Helvetica, sans-serif;
}


/* media querys  */
@media (min-width: 480px) { /* mayor a   */
    body{
        background-color: cornflowerblue;
    }
    
}
@media (min-width: 768px ) { /* mayor a eso y menor cambia a otro  */
    body{
        background-color: azure;
    };
}


.titulo{
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}
/* --------------- css a navegacion */
.contenedor{
    max-width: 120rem;
    /* margin-top: 10px;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
    
}
.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal{
    /* se agrega flex box */
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
/* media queris para la navegacion */
@media (min-width: 768px) { 
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-evenly;
    }
  
}
.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
/* se agrega un hero */
.hero{
    background-image: url();
}


